html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: #EBF5EE;
    margin: 50px 15%;
    line-height: 1.5;
}

.body2 {
    background-color: #7D7C7A;
}

.mainHeader {
    text-align: center;
    border-radius: 7px;
    background-color: #78A1BB;
    padding: 15px;
    box-shadow: 10px 10px 60px 0px rgba(158, 153, 158, 1);
}

.main__subHeader {
    text-align: center;
}

.buttonItem {
    display: block;
    margin: 15px auto;
}

.main__section, .footer {
    border-radius: 7px;
    padding: 15px;
    text-align: justify;
    background-color: #78A1BB;
    box-shadow: 10px 10px 60px 0px rgba(158, 153, 158, 1);
    margin-top: 50px;
}

.b, .strong, .i {
    background-color: rgba(189, 125, 42, 0.822);
}

.work2 {
    background-color: black;
}

.face1 {
    display: block;
    height: 300px;
    border: 5px solid black;
    margin: 20px auto;
}

.listItemDeleted {
    text-decoration: line-through;
    color: gray;
}

.tableContainer {
    overflow-x: auto;
}

.gameTable {
    border-collapse: collapse;
    background-color: honeydew;
    margin: 0 auto;
    margin-bottom: 20px;
}

.caption {
    caption-side: bottom;
    text-align: right;
}

.tableCell {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.tableHeader {
    color: white;
    background: crimson;
}

.tableRow:nth-child(even) {
    background: #eee;
}

.tableRow:hover {
    background: #ddd;
}